.spinner {
    --spinner-animation-time: 0.8s;
    --spinner-size: 40px;
    --spinner-height: 40px;
    --spinner-limb-thickness: 4px;
    --spinner-limb-length: 10px;

    color: inherit;
    display: inline-block;
    width: var(--spinner-size);
    height: var(--spinner-size);
    position: relative;
}

.spinner div {
    transform-origin: 20px 20px;
    animation: spinner var(--spinner-animation-time) linear infinite;
}

.spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: calc((var(--spinner-size) - var(--spinner-limb-thickness)) / 2);
    width: var(--spinner-limb-thickness);
    height: var(--spinner-limb-length);
    border-radius: 20%;
    background: currentColor;
}

.spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: calc(-11 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: calc(-10 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: calc(-9 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: calc(-8 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: calc(-7 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: calc(-6* var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: calc(-5 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: calc(-4 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: calc(-3 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: calc(-2 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: calc(-1 * var(--spinner-animation-time) / 12);
}

.spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
